bitsandbytes
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
datasets
fire
scipy
sentencepiece
protobuf==3.20.0
wandb
gradio